/* .button{
    width: 5%;
    background-color: blanchedalmond;
    border-radius: 50%; 
    color: black
};

.button:hover{
    background-color: black;
    color: blanchedalmond;
} */

.container-product{
    max-width: 100%;
    margin: 5% 5% 10% 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.card-container{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.card-parrafo {
    padding-top: 5%;
}