.Container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: whitesmoke;
    width: 100%;
    padding: 0%;
    margin: 0%;
  }
  
  .navbar>.container-fluid {
    margin: 0%;
    padding: 1%;
    background-color:  #fcf1d8;
  }
  